<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link href="/static/css/style2.css" rel="stylesheet" >
<link href="static/css/sb-admin-2.min.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<body id="page-top" >

	<div id="wrapper" >
       
      
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column ml-3 ">

            <!-- Main Content -->
            <div id="content">

				  <!-- Topbar -->
				  <nav class="navbar navbar-expand navbar-light topbar mb-0 static-top shadow" id="topBar">
                    <a class="navbar-brand"  href="/"> 
                        <img src="/static/images/logo.JPG" id="logo" alt="">
                    </a>
        
                    <h4 class="navbar-brand mb-0" id="title">STCKInsights</h4>
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
            
                        
                        <li class="nav-item">
                        <a class="nav-link my-3 mr-2" id="nav"  href="/">Home</a>
                        </li>
                       
    
                        <li class="nav-item">
                            <a class="nav-link  my-3 mr-2" id="nav" href="nlp">Earnings Call Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  my-3 mr-2" id="nav"  href="forecast">Price Forecast</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  my-3 mr-2" id="nav"  href="design">More</a>
                        </li>
    
                    </ul>
                    
                    </div>

                </nav>
				<!-- End of Topbar -->
				
				<div class="hls_sol"  >
                        <p></p>    
                        <p></p>     
						<ul class = "mr-3">
							<li>
							<img src="/static/images/nlp.jpeg" alt="">
							<div class="hls_sol_data">
								<h3>Natrual Language Processing</h3>
							
							</div>
							</li>
							<li>
							<img src="/static/images/sentiment_1.jfif" alt="">
								<div class="hls_sol_data">
								<h3>Sentimental Analysis</h3>
							
							</div>
							</li>


							<li>
								<img src="/static/images/timeseries2.jpg" alt="">
									<div class="hls_sol_data">
									<h3>Timeseries Forecast</h3>
								
								</div>
							</li>

							<li>
								<img src="/static/images/nueral2.jpg" alt="">
									<div class="hls_sol_data">
									<h3>Nueral Networks</h3>
								
								</div>
							</li>
							
					

							<li>
								<img src="/static/images/supervised.jfif" alt="">
								<div class="hls_sol_data">
									<h3>Supervised Learning</h3>
								
								</div>
							</li>
						

						
						</ul>
							
				</div>

				
                      
					<div class="jumbotron-fluid text-light my-3 bg-transparent text-center">
						<h3 class="text-center mb-2"> Turn your Insights into Action!!!  </h3>

						<p><br/>We need just more than simple Web Analytics. It's critical to combine every piece of data <br/>
						 on Stock with Machine learning and Automation to help discover deeper insights. 
						 We need Stock Intelligence. <br/> <br/>
						 Our tool employs various machine learning models to provide menaingful insights on Stock Market <br/>
						 Click <a href="nlp" > here </a> to get started!!!
                        </p>
                        
                        <br/>


					</div>
			

		
            <!-- Footer -->
            <footer class="sticky-footer bg-transparent my-6">
                <div class="container my-6 ">
                    <div class="copyright text-center text-light my-3 ">
                        <p1>STCKInsights | Rice University Data Analytics and Visualization Boot Camp&copy;2020</p1>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
	


</body>