<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link href="/static/css/style2.css" rel="stylesheet" >
<!------ Include the above in your HEAD tag ---------->

<h1>Ravi Singh</h1>
<div class="hls_sol">
<ul>
	<li>
	<img src="https://picsum.photos/600/700/?random" alt="">
	<div class="hls_sol_data">
		<h3>Casual</h3>
		<div class="hls_data">
			<a href="https://500px.com/ravi7284007" target="_blank" class="hls_title">Ravi On 500PX</a>
			<a href="#https://www.facebook.com/ravi7284007" class="btn btn-pro" target="_blank"> Facebook</a>
		</div>
	</div>
	</li>
		<li>
	<img src="https://picsum.photos/600/800/?random" alt="">
		<div class="hls_sol_data">
		<h3>Street</h3>
		<div class="hls_data">
			<a href="https://500px.com/ravi7284007" target="_blank" class="hls_title">Ravi On 500PX</a>
			<a href="https://www.facebook.com/ravi7284007" class="btn btn-pro" target="_blank"> Facebook</a>
		</div>
	</div>
	</li>
		<li>
	<img src="https://picsum.photos/600/750/?random" alt="">
		<div class="hls_sol_data">
		<h3>Dapper</h3>
		<div class="hls_data">
			<a href="https://500px.com/ravi7284007" target="_blank" class="hls_title">Ravi On 500PX</a>
			<a href="https://www.facebook.com/ravi7284007" class="btn btn-pro" target="_blank"> Facebook</a>
		</div>
	</div>
	</li>
		<li>
	<img src="https://picsum.photos/600/710/?random" alt="">
		<div class="hls_sol_data">
		<h3>Minimal</h3>
		<div class="hls_data">
			<a href="https://500px.com/ravi7284007" target="_blank" class="hls_title">Ravi On 500PX</a>
			<a href="https://www.facebook.com/ravi7284007" class="btn btn-pro" target="_blank"> Facebook</a>
		</div>
	</div>
	</li>
</ul>
	
</div>